<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/bookwise_logo.png">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>BookWise</title>
</head>

<body>
    <div class="header_wrap">
        <div class="header_top">
            <div class="item_top">
                <p>BookWise</p>
            </div>
            <div class="item_top">
                <p>placeholder address</p>
            </div>
            <div class="item_top item">placeholder search</div>
            <div class="item_top item"><img src="../assets/images/ukflag.png" alt="uk flag" style="max-width: 40px;"></div>
            <div class="item_top item"><img src="../assets/images/profile.png" alt="profile icon" style="max-width: 40px"></div>
            <div class="item_top item"><img src="../assets/images/cart.png" alt="" style="max-width: 40px;"></div>
        </div>
        <div class="header_bottom">
            <div class="item_bottom item"><a href="#">placeholder_text</a></div>
            <div class="item_bottom item"><a href="#">placeholder_text</a></div>
            <div class="item_bottom item"><a href="#">placeholder_text</a></div>
            <div class="item_bottom item"><a href="#">placeholder_text</a></div>
            <div class="item_bottom item"><a href="#">placeholder_text</a></div>
            <div class="item_bottom item"><a href="#">placeholder_text</a></div>
            <div class="item_bottom item"><a href="#">placeholder_text</a></div>
            <div class="item_bottom item"><a href="#">placeholder_text</a></div>

        </div>
    </div>
</body>

</html>